.home {
    background-color: rgba(207, 207, 207, 0.06);
    display: grid; 

    
    justify-items: center;
    // align-items: center;
    grid-template-rows: [header-s] 218px [header-e card-s] minmax(400px, 560px) [card-e]
}

.header {
    align-self: center;
}


.card {
    min-height: 400px;
    max-height: 560px;
    width: 1240px;
    box-shadow: 0 4px 30px 0 rgba(0, 0, 0, .06);
    border-radius: 7px;

    display: grid;
    grid-template-rows: 1fr 50px;

    &__inputs {
        background-color: yellow;
        display: grid;
        grid-template-rows: repeat(4, 1fr);
        grid-template-columns: repeat(4, 1fr);

        justify-items: center;
        // justify-items "centers" items along the inline(row)axis
        align-items: center;
        // align-items "centers" items along the block(column)axis
    }
}

.input {
    display: grid;
    grid-template-columns: [number-s] 26px [number-e input-s] 1fr [input-s]
    
    &__number {
        grid-column: input-s/input-e;
    }

    input {
        grid-column: input-s/input-e;
    }

    &__title {
        grid-column: number-s/number-e;
    }
}