.home {
    position: relative;
    background-color: rgba(207, 207, 207, 0.06);
    display: grid; 

    
    justify-items: center;
    // align-items: center;
    grid-template-rows: [header-s] 218px [header-e card-s] minmax(736px, 994px) [card-e]
}

.header {
    color: white;
    font-family: 'Montserrat';
    text-align: center;
    align-self: center;
    &__skew {
        -webkit-clip-path: polygon(0 0, 100% 0%, 100% 37%, 0 65%);
        clip-path: polygon(0 0, 100% 0%, 100% 37%, 0 65%);
        z-index: -10;
        top: 0;
        left: 0;
        position: absolute;
        height: 110vh;
        width: 100vw;
        background-color: fuchsia
    }

    &__border {
        -webkit-clip-path: polygon(0 0, 100% 0%, 100% 37%, 0 65%);
        clip-path: polygon(0 63%, 100% 35%, 100% 37%, 0 65%);
        z-index: -10;
        top: 0;
        left: 0;
        position: absolute;
        height: 110vh;
        width: 100vw;
        background-color: #444444
    }


    h1 {
        font-size: 36px;
        font-weight: 500;
        line-height: 44px;
    }

    p {
        color: rgba(255, 255, 255, 0.75);
        font-size: 15px;
        font-weight: 300;
        line-height: 19px;
        width: 403px;
    }

}
    

.card {
    min-height: 736px;
    max-height: 994px;
    width: 1240px;
    box-shadow: 0 4px 30px 0 rgba(0, 0, 0, .06);
    border-radius: 7px;

    display: grid;
    grid-template-rows: 1fr 50px;
    background-color: white;

    &__inputs {
        display: grid;
        grid-template-rows: repeat(4, 1fr);
        grid-template-columns: repeat(4, 1fr);

        justify-items: center;
        // justify-items "centers" items along the inline(row)axis
        align-items: center;
        // align-items "centers" items along the block(column)axis
    }
}

.input {
    display: grid;
    grid-template-columns: [number-s] 26px [number-e input-s] 1fr [input-s];

    font-family: 'Montserrat';
    text-align: center;
    
    &__title {
        grid-column: input-s/input-e;

        border-top: 1px solid #b3b3b3;
        color: #b3b3b3;
        font-size: 12px;
        font-weight: 300px;
        
    }

    input {
        grid-column: input-s/input-e;

        border: none;
        font-size: 15px;
        text-align: center;
    }

    &__number {
        grid-column: number-s/number-e;
        background-color: #444444;
        color: white;
        font-size: 20px;
        padding-top: 1px;
    
        border-radius: 50%;
        font-family: 'Montserrat';
    }

}